body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #444444;
}

section#info {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	z-index: 10000;
}

header {
	padding: 20px;
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 1.25;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 20px;
	margin-bottom: 5px;

}

ul {
	border-top: 1px solid #eeeeee;
}
section#map {
	position: absolute;
	top: 0;
	right: 0;
	width: 75%;
	height: 100%;
	background: #cccccc;
}

li {
	background-repeat: no-repeat;
	background-position: 20px 12px;
	padding: 10px 20px 10px 45px;
}

li h3 {
	font-size: 16px;
	font-weight: 700;
}

li p {
	font-size: 13px;
}

li.green {
	background-image: url(../images/greenicon.png);
}

li.red {
	background-image: url(../images/redicon.png);
}

li.blue {
	background-image: url(../images/blueicon.png);
}

li.purple {
	background-image: url(../images/purpleicon.png);
}

